// signup verification otp.handlebars
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Confirm registration on EverythingFlorence</title>
</head>
<body>
  <h2>Hello {{name}}! </h2>
  <p>Use this OTP <strong>{{otp}}</strong> to verify your account</p>
  <p>Feel free to check our catalogue to make decision or reachout to us for more details about our product </p>
  <p>If you have any question, feel free to contact us <a href="mailto:florence.oyeniyi@everythingflorence.com.ng">here</a> </p>
</body>
</html>