<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome to EverythingFlorence</title>
</head>
<body>
  <h2>Hello {{name}}! </h2>
  <p>We're glad to have you our in online store. </p>
  <p>Feel free to check our catalogue to make decision or reachout to us for more details about our product </p>
  <p>If you have any question, feel free to contact us <a href="mailto:florence.oyeniyi@everythingflorence.com.ng">here.</a> </p>
</body>
</html>