<td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center">
  <div style="margin:0px auto;max-width:600px">
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      style="background-color:#f5f5f5;width:100%"
      width="100%"
      bgcolor="#F5F5F5"
    >
      <tbody>
        <tr>
          <td style="direction:ltr;font-size:0px;padding:0px;text-align:center">
            <div
              class="m_-3979223946777655793mj-column-per-100"
              style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%"
            >
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                role="presentation"
                style="background-color:#f5f5f5;vertical-align:top"
                width="100%"
                valign="top"
                bgcolor="#F5F5F5"
              >
                <tbody>
                  <tr>
                    <td
                      align="center"
                      style="font-size:0px;padding:10px 0 30px 0;word-break:break-word"
                    >
                      <div
                        style="font-family:OpenSans,Helvetica,Tahoma,Arial,sans-serif;font-size:14px;font-weight:400;line-height:24px;text-align:center;color:#4f4f4f"
                      >
                        Sent with ♥ from AliExpress
                      </div></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="margin:0px auto;max-width:600px">
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      style="background-color:#f5f5f5;width:100%"
      width="100%"
      bgcolor="#F5F5F5"
    >
      <tbody>
        <tr>
          <td style="direction:ltr;font-size:0px;padding:0px;text-align:center">
            <div
              class="m_-3979223946777655793mj-column-per-100"
              style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%"
            >
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                role="presentation"
                style="background-color:#f5f5f5;vertical-align:top"
                width="100%"
                valign="top"
                bgcolor="#F5F5F5"
              >
                <tbody>
                  <tr>
                    <td
                      align="center"
                      style="font-size:0px;padding:10px 25px;word-break:break-word"
                    >
                      <div
                        style="font-family:OpenSans,Helvetica,Tahoma,Arial,sans-serif;font-size:14px;font-weight:bold;line-height:24px;text-align:center;color:#4f4f4f"
                      >
                        CONNECT WITH:
                      </div></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="margin:0px auto;max-width:600px">
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      style="background-color:#f5f5f5;width:100%"
      width="100%"
      bgcolor="#F5F5F5"
    >
      <tbody>
        <tr>
          <td style="direction:ltr;font-size:0px;padding:0px;text-align:center">
            <div
              class="m_-3979223946777655793mj-column-per-100"
              style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%"
            >
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                role="presentation"
                style="background-color:#f5f5f5;vertical-align:top"
                width="100%"
                valign="top"
                bgcolor="#F5F5F5"
              >
                <tbody>
                  <tr>
                    <td
                      align="center"
                      style="font-size:0px;padding:0 0 20px 0;word-break:break-word"
                    >
                      <table
                        align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        role="presentation"
                        style="background-color:#f5f5f5;float:none;display:inline-table;width:48px;max-width:48px"
                        bgcolor="#F5F5F5"
                      >
                        <tbody>
                          <tr>
                            <td style="padding:0 14px">
                              <table
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                role="presentation"
                                style="background-color:#f5f5f5;border-radius:3px;width:20px"
                                width="20"
                                bgcolor="#F5F5F5"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="font-size:0;height:20px;vertical-align:middle;width:20px"
                                    ><a
                                        href="https://www.facebook.com/aliexpress?tracelog=rowan&amp;rowan_id1=aeug_edm_41203_1_en_US_2024-01-15&amp;rowan_msg_id=rokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87&amp;ck=in_edm_other"
                                        target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.facebook.com/aliexpress?tracelog%3Drowan%26rowan_id1%3Daeug_edm_41203_1_en_US_2024-01-15%26rowan_msg_id%3DrokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87%26ck%3Din_edm_other&amp;source=gmail&amp;ust=1705485656819000&amp;usg=AOvVaw2meCMR9wrTtkuWofgE09Dg"
                                      ><img
                                          height="20"
                                          src="https://ci3.googleusercontent.com/proxy/nPZgiUBx73B9lBrVcauHLI-yQqOzubhvd8IHaDwYcOPv1fflzEHA_tTwtprW0QuDkGaRt3wrpqfF-eKkfs-9djUqFWqGaeknZIo6oL-Pfg=s0-d-e1-ft#https://ae01.alicdn.com/kf/HTB1M.I3aECF3KVjSZJn762nHFXaq.png"
                                          style="border-radius:3px;display:block"
                                          width="20"
                                        /></a></td>
                                  </tr>
                                </tbody>
                              </table></td>
                          </tr>
                        </tbody>
                      </table>
                      <table
                        align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        role="presentation"
                        style="background-color:#f5f5f5;float:none;display:inline-table;width:48px;max-width:48px"
                        bgcolor="#F5F5F5"
                      >
                        <tbody>
                          <tr>
                            <td style="padding:0 14px">
                              <table
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                role="presentation"
                                style="background-color:#f5f5f5;border-radius:3px;width:20px"
                                width="20"
                                bgcolor="#F5F5F5"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="font-size:0;height:20px;vertical-align:middle;width:20px"
                                    ><a
                                        href="https://twitter.com/AliExpress_EN?tracelog=rowan&amp;rowan_id1=aeug_edm_41203_1_en_US_2024-01-15&amp;rowan_msg_id=rokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87&amp;ck=in_edm_other"
                                        target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://twitter.com/AliExpress_EN?tracelog%3Drowan%26rowan_id1%3Daeug_edm_41203_1_en_US_2024-01-15%26rowan_msg_id%3DrokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87%26ck%3Din_edm_other&amp;source=gmail&amp;ust=1705485656819000&amp;usg=AOvVaw26s7GLFZLX3L8rh3WIBh5S"
                                      ><img
                                          height="20"
                                          src="https://ci4.googleusercontent.com/proxy/_BAVxv-Nd-nzx3xK4Ujr5ObGQay0_SLJ9JhhRE3MqCRtKM4h_5jZC3dGWpsu3xhfq_8R-Erg7thNID2qQp29Ss1s2dq_xwhotRp0VW9blw=s0-d-e1-ft#https://ae01.alicdn.com/kf/HTB1mFo3axiH3KVjSZPf760BiVXaq.png"
                                          style="border-radius:3px;display:block"
                                          width="20"
                                        /></a></td>
                                  </tr>
                                </tbody>
                              </table></td>
                          </tr>
                        </tbody>
                      </table>
                      <table
                        align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        role="presentation"
                        style="background-color:#f5f5f5;float:none;display:inline-table;width:48px;max-width:48px"
                        bgcolor="#F5F5F5"
                      >
                        <tbody>
                          <tr>
                            <td style="padding:0 14px">
                              <table
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                role="presentation"
                                style="background-color:#f5f5f5;border-radius:3px;width:24px"
                                width="24"
                                bgcolor="#F5F5F5"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="font-size:0;height:20px;vertical-align:middle;width:20px"
                                    ><a
                                        href="https://www.youtube.com/user/AliExpressChannel?tracelog=rowan&amp;rowan_id1=aeug_edm_41203_1_en_US_2024-01-15&amp;rowan_msg_id=rokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87&amp;ck=in_edm_other"
                                        target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.youtube.com/user/AliExpressChannel?tracelog%3Drowan%26rowan_id1%3Daeug_edm_41203_1_en_US_2024-01-15%26rowan_msg_id%3DrokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87%26ck%3Din_edm_other&amp;source=gmail&amp;ust=1705485656819000&amp;usg=AOvVaw3ws3Zo0d3oJwEtoTpmdzyl"
                                      ><img
                                          height="22"
                                          src="https://ci6.googleusercontent.com/proxy/Wpkxo_ii0gXhQmLhfDFgkHXmIssmDgAm3ISxsYdmMCueLYc7i_YvOm3R_f3Blb-POUKLzZ-RwBAQcQ66WqyzK87Gs0hMLtzNbyasFhf--fNmBSGp=s0-d-e1-ft#https://ae01.alicdn.com/kf/Hdcee24d3349a413cbb57701a2afdbf59c.png"
                                          style="border-radius:3px;display:block"
                                          width="24"
                                        /></a></td>
                                  </tr>
                                </tbody>
                              </table></td>
                          </tr>
                        </tbody>
                      </table>
                      <table
                        align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        role="presentation"
                        style="background-color:#f5f5f5;float:none;display:inline-table;width:48px;max-width:48px"
                        bgcolor="#F5F5F5"
                      >
                        <tbody>
                          <tr>
                            <td style="padding:0 14px">
                              <table
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                role="presentation"
                                style="background-color:#f5f5f5;border-radius:3px;width:20px"
                                width="20"
                                bgcolor="#F5F5F5"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="font-size:0;height:20px;vertical-align:middle;width:20px"
                                    ><a
                                        href="https://www.instagram.com/aliexpress/?tracelog=rowan&amp;rowan_id1=aeug_edm_41203_1_en_US_2024-01-15&amp;rowan_msg_id=rokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87&amp;ck=in_edm_other"
                                        target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.instagram.com/aliexpress/?tracelog%3Drowan%26rowan_id1%3Daeug_edm_41203_1_en_US_2024-01-15%26rowan_msg_id%3DrokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87%26ck%3Din_edm_other&amp;source=gmail&amp;ust=1705485656819000&amp;usg=AOvVaw0Tse28Eba1qeWTxNnSIXjc"
                                      ><img
                                          height="20"
                                          src="https://ci6.googleusercontent.com/proxy/D3LVJX4H3I6nSE9LbBPUFx4Rke8_uYBfZElvzWBpWKg9h2oLPBWJ2kjsIMsbd7wTYjxQLKu9wgrurwgHMiG5DB5w3JXfyIWTOQf5Ru5Xcg=s0-d-e1-ft#https://ae01.alicdn.com/kf/HTB1nYk4aEGF3KVjSZFv762_nXXah.png"
                                          style="border-radius:3px;display:block"
                                          width="20"
                                        /></a></td>
                                  </tr>
                                </tbody>
                              </table></td>
                          </tr>
                        </tbody>
                      </table>
                      <table
                        align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        role="presentation"
                        style="background-color:#f5f5f5;float:none;display:inline-table;width:48px;max-width:48px"
                        bgcolor="#F5F5F5"
                      >
                        <tbody>
                          <tr>
                            <td style="padding:0 14px">
                              <table
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                role="presentation"
                                style="background-color:#f5f5f5;border-radius:3px;width:24px"
                                width="24"
                                bgcolor="#F5F5F5"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="font-size:0;height:20px;vertical-align:middle;width:24px"
                                    ><a
                                        href="https://vk.com/aliexpress?tracelog=rowan&amp;rowan_id1=aeug_edm_41203_1_en_US_2024-01-15&amp;rowan_msg_id=rokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87&amp;ck=in_edm_other"
                                        target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://vk.com/aliexpress?tracelog%3Drowan%26rowan_id1%3Daeug_edm_41203_1_en_US_2024-01-15%26rowan_msg_id%3DrokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87%26ck%3Din_edm_other&amp;source=gmail&amp;ust=1705485656819000&amp;usg=AOvVaw3L55iWY7Ie_BR4271_wfXK"
                                      ><img
                                          height="20"
                                          src="https://ci5.googleusercontent.com/proxy/qGrm2FxOM-qNRY0XvFf2IYusyI02N2-Su7Uj3xxFEjS6swAScm7wncM9NTzUF6JIbE93KFBk-JwkMGyE51Yt2DdC6jBtNYWmRrh7T_McLQ=s0-d-e1-ft#https://ae01.alicdn.com/kf/HTB1yII5aCSD3KVjSZFK76210VXak.png"
                                          style="border-radius:3px;display:block"
                                          width="24"
                                        /></a></td>
                                  </tr>
                                </tbody>
                              </table></td>
                          </tr>
                        </tbody>
                      </table>
                      <table
                        align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        role="presentation"
                        style="background-color:#f5f5f5;float:none;display:inline-table;width:48px;max-width:48px"
                        bgcolor="#F5F5F5"
                      >
                        <tbody>
                          <tr>
                            <td style="padding:0 14px">
                              <table
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                role="presentation"
                                style="background-color:#f5f5f5;border-radius:3px;width:20px"
                                width="20"
                                bgcolor="#F5F5F5"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="font-size:0;height:20px;vertical-align:middle;width:20px"
                                    ><a
                                        href="https://m.me/AliExpress?tracelog=rowan&amp;rowan_id1=aeug_edm_41203_1_en_US_2024-01-15&amp;rowan_msg_id=rokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87&amp;ck=in_edm_other"
                                        target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://m.me/AliExpress?tracelog%3Drowan%26rowan_id1%3Daeug_edm_41203_1_en_US_2024-01-15%26rowan_msg_id%3DrokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87%26ck%3Din_edm_other&amp;source=gmail&amp;ust=1705485656819000&amp;usg=AOvVaw1kvHqcHO24pVpw6j63kQq1"
                                      ><img
                                          height="20"
                                          src="https://ci5.googleusercontent.com/proxy/fqLocR_bQ0q1_bK1Fg4Y3Yo4CBfP_cGCqa-LuaRX3cnYq2iSD-2GgnN28vZ-EoG7gSZVghGfxAHowetRGdadFYOyqftnqCYV_ITEY6uHV2t9da-W=s0-d-e1-ft#https://ae01.alicdn.com/kf/H129b739af72944f096c75bb5feb8916cL.png"
                                          style="border-radius:3px;display:block"
                                          width="20"
                                        /></a></td>
                                  </tr>
                                </tbody>
                              </table></td>
                          </tr>
                        </tbody>
                      </table>
                      <table
                        align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        role="presentation"
                        style="background-color:#f5f5f5;float:none;display:inline-table;width:48px;max-width:48px"
                        bgcolor="#F5F5F5"
                      >
                        <tbody>
                          <tr>
                            <td style="padding:0 14px">
                              <table
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                role="presentation"
                                style="background-color:#f5f5f5;border-radius:3px;width:20px"
                                width="20"
                                bgcolor="#F5F5F5"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="font-size:0;height:20px;vertical-align:middle;width:20px"
                                    ><a
                                        href="https://wa.me/8657186563839?tracelog=rowan&amp;rowan_id1=aeug_edm_41203_1_en_US_2024-01-15&amp;rowan_msg_id=rokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87&amp;ck=in_edm_other"
                                        target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://wa.me/8657186563839?tracelog%3Drowan%26rowan_id1%3Daeug_edm_41203_1_en_US_2024-01-15%26rowan_msg_id%3DrokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87%26ck%3Din_edm_other&amp;source=gmail&amp;ust=1705485656819000&amp;usg=AOvVaw2JXSF5QVIGRiFOpl_i4yjp"
                                      ><img
                                          height="20"
                                          src="https://ci4.googleusercontent.com/proxy/YJPy99xfVPEpLOMvPFgf4NlBntpgs_NRXpUSljde-TMD7EHH-Prtt1dPTbYoiLm0T74yB4BIXkB3p4X5vJ2Lc0GeCnWFU4_YQH6x0s1YQxTDFyim=s0-d-e1-ft#https://ae01.alicdn.com/kf/H6d88de9fb83b4b59890f733b7001cf76N.png"
                                          style="border-radius:3px;display:block"
                                          width="20"
                                        /></a></td>
                                  </tr>
                                </tbody>
                              </table></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="margin:0px auto;max-width:600px">
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      style="background-color:#f5f5f5;width:100%"
      width="100%"
      bgcolor="#F5F5F5"
    >
      <tbody>
        <tr>
          <td style="direction:ltr;font-size:0px;padding:0px;text-align:center">
            <div
              class="m_-3979223946777655793mj-column-per-100"
              style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%"
            >
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                role="presentation"
                style="background-color:#f5f5f5;vertical-align:top"
                width="100%"
                valign="top"
                bgcolor="#F5F5F5"
              >
                <tbody>
                  <tr>
                    <td
                      align="center"
                      style="font-size:0px;padding:10px 25px;word-break:break-word"
                    >
                      <div
                        style="font-family:OpenSans,Helvetica,Tahoma,Arial,sans-serif;font-size:12px;font-weight:400;line-height:20px;text-align:center;color:#4f4f4f"
                      >
                        <div>
                          <a
                            href="https://www.aliexpress.com?&amp;edm_click_module=footer&amp;tracelog=rowan&amp;rowan_id1=aeug_edm_41203_1_en_US_2024-01-15&amp;rowan_msg_id=rokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87&amp;ck=in_edm_other"
                            style="color:#333333;line-height:20px;text-decoration:underline"
                            target="_blank"
                            data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.aliexpress.com?%26edm_click_module%3Dfooter%26tracelog%3Drowan%26rowan_id1%3Daeug_edm_41203_1_en_US_2024-01-15%26rowan_msg_id%3DrokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87%26ck%3Din_edm_other&amp;source=gmail&amp;ust=1705485656819000&amp;usg=AOvVaw1FTu2phdT7XdleMSWKgSbf"
                          >Homepage</a>
                          |
                          <a
                            href="https://login.aliexpress.com/?return_url=http%3A%2F%2Fescrow.alibaba.com%2Forder%2Fbusiness_order_buyer_list.htm%3Fctmenu%3Dcurrent_orders&amp;from=aliexpress&amp;&amp;edm_click_module=footer&amp;tracelog=rowan&amp;rowan_id1=aeug_edm_41203_1_en_US_2024-01-15&amp;rowan_msg_id=rokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87&amp;ck=in_edm_other"
                            style="color:#333333;line-height:20px;text-decoration:underline"
                            target="_blank"
                            data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://login.aliexpress.com/?return_url%3Dhttp%253A%252F%252Fescrow.alibaba.com%252Forder%252Fbusiness_order_buyer_list.htm%253Fctmenu%253Dcurrent_orders%26from%3Daliexpress%26%26edm_click_module%3Dfooter%26tracelog%3Drowan%26rowan_id1%3Daeug_edm_41203_1_en_US_2024-01-15%26rowan_msg_id%3DrokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87%26ck%3Din_edm_other&amp;source=gmail&amp;ust=1705485656820000&amp;usg=AOvVaw32xv72HcWYAM1injL3xeJP"
                          >My AliExpress</a>
                          |
                          <a
                            href="https://service.aliexpress.com/page/home?pageId=17&amp;language=en&amp;edm_click_module=footer&amp;tracelog=rowan&amp;rowan_id1=aeug_edm_41203_1_en_US_2024-01-15&amp;rowan_msg_id=rokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87&amp;ck=in_edm_other"
                            style="color:#333333;line-height:20px;text-decoration:underline"
                            target="_blank"
                            data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://service.aliexpress.com/page/home?pageId%3D17%26language%3Den%26edm_click_module%3Dfooter%26tracelog%3Drowan%26rowan_id1%3Daeug_edm_41203_1_en_US_2024-01-15%26rowan_msg_id%3DrokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87%26ck%3Din_edm_other&amp;source=gmail&amp;ust=1705485656820000&amp;usg=AOvVaw2LxkkYjcnz6T9urLna97LS"
                          >Help Center</a>
                          |
                          <a
                            href="https://sale.aliexpress.com/__pc/v8Yr8f629D.htm?&amp;edm_click_module=footer&amp;tracelog=rowan&amp;rowan_id1=aeug_edm_41203_1_en_US_2024-01-15&amp;rowan_msg_id=rokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87&amp;ck=in_edm_other"
                            style="color:#333333;line-height:20px;text-decoration:underline"
                            target="_blank"
                            data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://sale.aliexpress.com/__pc/v8Yr8f629D.htm?%26edm_click_module%3Dfooter%26tracelog%3Drowan%26rowan_id1%3Daeug_edm_41203_1_en_US_2024-01-15%26rowan_msg_id%3DrokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87%26ck%3Din_edm_other&amp;source=gmail&amp;ust=1705485656820000&amp;usg=AOvVaw00ETdvPlIf5yPpCRUBH2Cx"
                          >Buyer Protection</a>
                          |
                          <a
                            href="https://www.aliexpress.com/p/account-center/find-password.html?_addShare=no&amp;_rightAction=https://,h&amp;loginId=4151112223&amp;returnUrl=https%3A%2F%2Fwww.aliexpress.com%2F&amp;tracelog=rowan&amp;rowan_id1=aeug_edm_41203_1_en_US_2024-01-15&amp;rowan_msg_id=rokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87&amp;ck=in_edm_other"
                            style="color:#333333;line-height:20px;text-decoration:underline"
                            target="_blank"
                            data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.aliexpress.com/p/account-center/find-password.html?_addShare%3Dno%26_rightAction%3Dhttps://,h%26loginId%3D4151112223%26returnUrl%3Dhttps%253A%252F%252Fwww.aliexpress.com%252F%26tracelog%3Drowan%26rowan_id1%3Daeug_edm_41203_1_en_US_2024-01-15%26rowan_msg_id%3DrokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87%26ck%3Din_edm_other&amp;source=gmail&amp;ust=1705485656820000&amp;usg=AOvVaw0vVWb0Tm_sd4utDx-N8SFn"
                          >Forgot your password?</a>
                        </div>
                        This email was sent to rokeeb.olat****@<a
                          href="http://gmail.com"
                          target="_blank"
                          data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://gmail.com&amp;source=gmail&amp;ust=1705485656820000&amp;usg=AOvVaw315SIKxHq28ojOe-p8OHn6"
                        >gmail.com</a>
                        <br />
                        You are receiving this email because you are a
                        registered member of
                        <a
                          href="https://www.aliexpress.com?&amp;edm_click_module=footer&amp;tracelog=rowan&amp;rowan_id1=aeug_edm_41203_1_en_US_2024-01-15&amp;rowan_msg_id=rokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87&amp;ck=in_edm_other"
                          style="color:#333333;line-height:20px;text-decoration:underline"
                          target="_blank"
                          data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.aliexpress.com?%26edm_click_module%3Dfooter%26tracelog%3Drowan%26rowan_id1%3Daeug_edm_41203_1_en_US_2024-01-15%26rowan_msg_id%3DrokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87%26ck%3Din_edm_other&amp;source=gmail&amp;ust=1705485656820000&amp;usg=AOvVaw0KYndc8afmRMgRex2_pv6D"
                        >www.AliExpress.com.</a>
                        <br />
                        If you don't want to receive marketing emails in the
                        future, please
                        <a
                          href="https://www.aliexpress.com/p/edm-setting/form.html?sub_code=1000&amp;param=%2FpAUbBh2WWLWrThIkAUkqWJgOHA18ItjNzzl1BNhyZeKssD3Ysv8%2Bryd9T3kyuMXTXFscaRXawV62iPmsFRzTQ%3D%3D&amp;tracelog=rowan&amp;rowan_id1=aeug_edm_41203_1_en_US_2024-01-15&amp;rowan_msg_id=rokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87&amp;ck=in_edm_other"
                          style="color:#333333;line-height:20px;text-decoration:underline"
                          target="_blank"
                          data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.aliexpress.com/p/edm-setting/form.html?sub_code%3D1000%26param%3D%252FpAUbBh2WWLWrThIkAUkqWJgOHA18ItjNzzl1BNhyZeKssD3Ysv8%252Bryd9T3kyuMXTXFscaRXawV62iPmsFRzTQ%253D%253D%26tracelog%3Drowan%26rowan_id1%3Daeug_edm_41203_1_en_US_2024-01-15%26rowan_msg_id%3DrokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87%26ck%3Din_edm_other&amp;source=gmail&amp;ust=1705485656820000&amp;usg=AOvVaw3fn9bh0_vYzAvJQFR49A_2"
                        ><br /> unsubscribe </a>
                        <br />
                        Read our
                        <a
                          href="https://service.aliexpress.com/page/knowledge?pageId=37&amp;category=1000022028&amp;knowledge=1060015216&amp;language=en&amp;edm_click_module=footer&amp;tracelog=rowan&amp;rowan_id1=aeug_edm_41203_1_en_US_2024-01-15&amp;rowan_msg_id=rokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87&amp;ck=in_edm_other"
                          style="color:#333333;line-height:20px;text-decoration:underline"
                          target="_blank"
                          data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://service.aliexpress.com/page/knowledge?pageId%3D37%26category%3D1000022028%26knowledge%3D1060015216%26language%3Den%26edm_click_module%3Dfooter%26tracelog%3Drowan%26rowan_id1%3Daeug_edm_41203_1_en_US_2024-01-15%26rowan_msg_id%3DrokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87%26ck%3Din_edm_other&amp;source=gmail&amp;ust=1705485656820000&amp;usg=AOvVaw03a7a9W0fhYpfwYfx2CefJ"
                        >Privacy Policy</a>
                        and
                        <a
                          href="https://rule.alibaba.com/rule/detail/2041.htm?&amp;edm_click_module=footer&amp;tracelog=rowan&amp;rowan_id1=aeug_edm_41203_1_en_US_2024-01-15&amp;rowan_msg_id=rokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87&amp;ck=in_edm_other"
                          style="color:#333333;line-height:20px;text-decoration:underline"
                          target="_blank"
                          data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://rule.alibaba.com/rule/detail/2041.htm?%26edm_click_module%3Dfooter%26tracelog%3Drowan%26rowan_id1%3Daeug_edm_41203_1_en_US_2024-01-15%26rowan_msg_id%3DrokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87%26ck%3Din_edm_other&amp;source=gmail&amp;ust=1705485656820000&amp;usg=AOvVaw3BUBcOfhV95GuHQBqlME9b"
                        >Terms of Use</a>
                        if you have any questions.
                        <br />
                        <a
                          href="https://service.aliexpress.com/page/home?pageId=17&amp;language=en&amp;edm_click_module=footer&amp;tracelog=rowan&amp;rowan_id1=aeug_edm_41203_1_en_US_2024-01-15&amp;rowan_msg_id=rokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87&amp;ck=in_edm_other"
                          style="color:#333333;line-height:20px;text-decoration:underline"
                          target="_blank"
                          data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://service.aliexpress.com/page/home?pageId%3D17%26language%3Den%26edm_click_module%3Dfooter%26tracelog%3Drowan%26rowan_id1%3Daeug_edm_41203_1_en_US_2024-01-15%26rowan_msg_id%3DrokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87%26ck%3Din_edm_other&amp;source=gmail&amp;ust=1705485656820000&amp;usg=AOvVaw2LxkkYjcnz6T9urLna97LS"
                        > AliExpress Service Center </a>
                        <br />
                        Alibaba.com Singapore Ecommerce Private Limited,
                        <br />
                        c/o 26/F Tower One, Times Square, 1 Matheson Street,
                        Causeway Bay, Hong Kong
                        <br />
                      </div></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="margin:0px auto;max-width:600px">
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      style="background-color:#f5f5f5;width:100%"
      width="100%"
      bgcolor="#F5F5F5"
    >
      <tbody>
        <tr>
          <td style="direction:ltr;font-size:0px;padding:0px;text-align:center">
            <div
              class="m_-3979223946777655793mj-column-per-100"
              style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%"
            >
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                role="presentation"
                style="background-color:#f5f5f5;vertical-align:top"
                width="100%"
                valign="top"
                bgcolor="#F5F5F5"
              >
                <tbody>
                  <tr>
                    <td
                      align="center"
                      style="font-size:0px;padding:40px 0;word-break:break-word"
                    >
                      <table
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        role="presentation"
                        style="background-color:#f5f5f5;border-collapse:collapse;border-spacing:0px;width:81px;max-width:81px"
                        width="81"
                        bgcolor="#F5F5F5"
                      >
                        <tbody>
                          <tr>
                            <td style="width:81px"><a
                                href="https://www.aliexpress.com?t=edmp&amp;tracelog=rowan&amp;rowan_id1=aeug_edm_41203_1_en_US_2024-01-15&amp;rowan_msg_id=rokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87&amp;ck=in_edm_other"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.aliexpress.com?t%3Dedmp%26tracelog%3Drowan%26rowan_id1%3Daeug_edm_41203_1_en_US_2024-01-15%26rowan_msg_id%3DrokeCOWS_41203_$7cae3cfb1ac54416a3cece17766f9f87%26ck%3Din_edm_other&amp;source=gmail&amp;ust=1705485656820000&amp;usg=AOvVaw3PCAGRwWQJ02cRoIJ5b9IQ"
                              ><img
                                  alt="AliExpress"
                                  height="auto"
                                  src="https://ci4.googleusercontent.com/proxy/IKvNx3u_eq0LNIxW6U1zZ7H1Ktc730zMQ6bFVsHnoDPH20-AGmSMv345L-9YjstM567CyXnaEGQEYpooJe-nAIJeyVPNW6OHZg6iSrhI6Wm6nZyq=s0-d-e1-ft#https://ae01.alicdn.com/kf/H4eb9130fb1964f26bbe3a9a82f971ab93.png"
                                  style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px"
                                  width="81"
                                /></a></td>
                          </tr>
                        </tbody>
                      </table></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</td>